@import "../styles/animations";

.z-index-zero {
  z-index: 1 !important;
}

.mobile-navigation-burger-menu-button {

  @media only screen and (min-width: 576px) {
    display: none;
  }

  position: fixed;
  z-index: 1001;
  padding-top: 8px;
  font-size: 1.25rem;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  margin: 18px 59px 0 0;
  right: 68%;

  &.circle-container {
    border-radius: 50%;
    color: white;
    border: none;
  }
}

.mobile-navigation-menu {
  @media only screen and (min-width: 576px) {
    display: none;
  }

  height: 100%;
  z-index: 1;

  .mobile-navigation-menu-items {
    width: 75%;
    height: 100%;
    z-index: 1;
    position: fixed;
    color: white;

    .mobile-navigation-button-runner {
      padding-right: 3rem;
      z-index: 13;
      height: 3px;
      position: fixed;
      width: 60%;
      margin-top: 38px;
      .runner-inner {
        border-radius: 50%;
        height: inherit;
        margin-top: 0.25rem;
        width: 100%;
      }
    }

    .mobile-navigation-links {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      height: 80vh;
      margin-top: 6rem!important;
      text-align: center;

      .mobile-navigation-links-inner {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-pack: justify !important;
        justify-content: center !important;
      }

      .mobile-navigation-inner-icon {
        width: 80px;
        height: 80px;
        margin-bottom: 12px;
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
      }
    }

    .sticky-bottom {
      height: 400px;
    }
  }
}
