<div class="mobile-navigation-burger-menu-button circle-container"
     [ngStyle]="{
      'background-color': navConfig.navBrandConfig.colorPalette.primaryColor,
      'z-index': navConfig.navBrandConfig.zIndex
     }"
     (click)="toggleCanActivateMobileNavBar()"
     [class.animation-slide-burger-right]="canActivateMobileNav"
     [class.animation-slide-burger-left]="!canActivateMobileNav" >

  <div class="mobile-navigation-burger-menu-button-inner">
    <fa-icon class="icon" *ngIf="!canActivateMobileNav" [ngStyle]="{ 'color': navConfig.navBrandConfig.colorPalette.secondaryColor }" [icon]="faBars"></fa-icon>
    <fa-icon class="icon" *ngIf="canActivateMobileNav" [ngStyle]="{ 'color': navConfig.navBrandConfig.colorPalette.primaryColor }" [icon]="faTimes"></fa-icon>
  </div>
</div>

<div appCheckOrientation class="mobile-navigation-menu" *ngIf="canActivateMobileNav">
  <div class="mobile-navigation-menu-items"
       [ngStyle]="{ 'background-color': navConfig.navBrandConfig.colorPalette.secondaryColor }"
       [class.animation-slide-in-nav-menu]="canActivateMobileNav"
       [class.animation-slide-out-nav-menu]="!canActivateMobileNav">

    <div class="mobile-navigation-button-runner"
         [ngStyle]="{ 'background-color': navConfig.navBrandConfig.colorPalette.primaryColor }"
         *ngIf="canActivateMobileNav">
      <div class="runner-inner"></div>
    </div>

    <div class="mobile-navigation-links">
      <div class="mobile-navigation-links-inner">
        <img class="mobile-navigation-inner-icon"
             [routerLink]="navConfig.navigationHomeRoute.routePath"
             [src]="navConfig.navBrandConfig.brandImageUrl" />
      </div>
      <a class="link mobile-link"
         *ngFor="let route of navConfig.navigationMenuRoutes"
         [routerLink]="route.routePath"
         [ngStyle]="{ 'color': navConfig.navBrandConfig.colorPalette.primaryColor }">{{route.routeName}}</a>
    </div>

    <div class="mobile-navigation-extras">
      <ng-content select="[mobileExtras]"></ng-content>
    </div>

  </div>
</div>

